<div class="flex items-center justify-center content-center bg-red-600 text-white text-sm font-bold px-4 py-3" role="alert">
  <i class="pr-2 fa-solid fa-triangle-exclamation"></i>
  <p><%= message %></p>
</div>
