<ul class="flex flex-row content-center">
  <li><a class="px-2" href="mailto:me@donovanyoung.com?subject=Website%20Inquiry"><i class="fa-solid fa-at"></i></a></li>
  <li><a class="px-2" href="https://www.github.com/dyoung522"><i class="fa-brands fa-github"></i></a></li>
  <li><a class="px-2" href="https://stackoverflow.com/users/1794315/donovan"><i class="fa-brands fa-stack-overflow"></i></a></li>
  <li><a class="px-2" href="https://www.linkedin.com/in/dyoung522/"><i class="fa-brands fa-linkedin"></i></a></li>
</ul>
