<% tags.each do |tag| %>
  <span class="inline-block py-1 px-2 m-1 text-xs rounded-full ring-2
    text-blue-700 dark:text-blue-200 bg-slate-300 dark:bg-slate-600 ring-blue-600">
    <%= tag %>
  </span>
<% end %>
