@tailwind base;
@layer base {
  a {
    @apply hover:text-blue-600 hover:dark:text-blue-400
  }
}

@tailwind components;
@layer components {
  .container {
    @apply mx-auto my-2 lg:my-4
  }

  .paper {
    @apply p-4 bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-slate-200 lg:rounded lg:shadow
  }
}

@tailwind utilities;
@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }

    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }

    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}
