@tailwind base;
@layer base {
  a {
    @apply hover:text-blue-600
  }
}

@tailwind components;
@layer components {
  .container {
    @apply mx-auto my-2 lg:my-4
  }

  .menu-active {
    @apply text-blue-400 hover:text-blue-400 dark:text-blue-300 dark:hover:text-blue-300
  }

  .menu-active-fancy {
    @apply menu-active border-b-2 border-blue-400 dark:border-blue-300 -skew-y-3
  }

  .paper {
    @apply p-4 border-2 sm:drop-shadow-lg bg-slate-200 dark:bg-slate-800 border-slate-300 dark:border-slate-900 text-slate-700 dark:text-slate-300 lg:rounded lg:shadow
  }
}

@tailwind utilities;
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }

  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }

  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
